# Dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
/build
/dist

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


thynk-875-firebase-adminsdk-fbsvc-5cbda0404e.json
blogsphere-firebase-adminsdk.json
